.home-title {
    font-size: 3.5rem;
    margin-top: 5rem;
    letter-spacing: 1rem;
}

.category-title {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.category-list{
    margin-top: 3rem;
}

.category-item{
    border:1px solid var(--pale-blue);
    box-shadow: 0px 0px 2px var(--mid-grey);
    margin:2rem;
    width:150px;
    background-color: var(--jean-blue);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}

.category-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;

}