html{
    box-sizing: border-box;
}

* , *:before, *:after {
    box-sizing: inherit;
}


.container{
    max-width: 1100px;
    width:100%;
    height:100vh;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    align-content: flex-start;
    font-weight: 600;

}

.header{
    /* flex-basis: 100%; */
    flex: 1 0 100%;
    /* flex-grow: 2; */
    height: 60px;
    background-color: blue;
    text-align: center;
}


.navigation {
    width:100px;
    background-color: brown;
    height:calc(100vh - 160px) ;
    text-align: center;
}

.main{
    width: calc(100% - 200px);
    background-color: antiquewhite;
    height:calc(100vh - 160px) ;
    text-align: center;
}

.sidebar{
    width: 100px;
    background-color: blueviolet;
    text-align: center;
}

.footer {
    background-color: bisque;
    flex: 1 0 100%;
    height: 100px;
    text-align: center;
}

